

.hero__preview{
    width: 310px;
    margin: auto;
    margin-top: 5rem;
    border-radius: 25px;
    margin-bottom: 3rem;
    transition: 0.3s ease;
    
}

.hero__preview:hover {
    width: 320px;
    box-shadow: #939393 0px 0px 8px 0px;
}

.hero__subtitle{
    color: #323232;
    font-size: 2.4rem;
    line-height: 3rem;
    margin: auto auto 2rem auto;
    width: 80%;
    
}

.hero__btn{
    padding: 0 20px;
    margin: 0 auto  0 auto;
    height: 50px;
    font-size: 1.2rem;
    background-color: #04ddb2;
    border: none;
    border-radius: 25px;
    font-weight: 500;
    margin-bottom: 70px;
    transition: 0.3s ease;
    cursor: pointer;
}

.hero__btn:hover{
    padding: 0 25px;
    height: 52px;
    font-size: 1.3rem;
}

.hero__description{
    width: 66%;
    text-align: center;
    margin: auto;
}

@media screen and (min-width:768px) {

.hero__preview{
    width: 60%;    
}

.hero__preview:hover {
    width: 62%;
}

.hero__subtitle{
    font-size: 5rem;
    margin: auto auto 2rem auto;
    width: 60%;
    line-height: 6rem;

}

.hero__btn{
    padding: 0px 80px;
    margin: 0 auto  0 auto;
    height: 70px;
    font-size: 1.6rem;
    border-radius: 50px;
    font-weight: 500;
    margin-bottom: 70px;
    transition:all 0.3s ease;
}

.hero__btn:hover{
    padding: 0 85px;
    height: 75px;
    font-size: 1.7rem;
}

}