:root {
  --main-font-color: #767676;
  --call-to-action-color:#04ddb2 ;
  --secondary-font-color: #333;

  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: var(--main-font-color);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body{
  height: fit-content;
}

button{
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}